<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>4454545</title>
</head>
<body>
<a href="{% url 'home' %}">домой</a>
<a href="{% url 'ready' %}">готовые</a>
<a href="{% url 'forms' %}">формы</a>
<form action="{% url 'forms' %}" method="post">
    {% csrf_token %}

{% for f in form %}
<p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
<div class="form-error">{{ f.errors}}</div>
{% endfor %}
    <button type="submit">Добавить</button>
</form>

</body>
</html>