<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Создание детали</title>
</head>
<body>
<a href="{% url 'home' %}">В работе</a>
<a href="{% url 'ready' %}">готовые</a>
<a href="{% url 'forms' %}">Материал  </a>
<a href="{% url 'form_parts' %}">Деталь  </a>
<a href="{% url 'form_orders' %}">Заказ  </a>
<h3>Создание детали</h3>

<form action="{% url 'form_parts' %}" method="post">
    {% csrf_token %}

    {% for f in form %}
    <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
    <div class="form-error">{{ f.errors}}</div>
    {% endfor %}
    <button type="submit">Добавить</button>
</form>

</body>
</html>