<div class="header">
    <a class="button" href="{% url 'work' %}">В работе</a>
    <a class="button" href="{% url 'ready' %}">готовые</a>
    <a class="button" href="{% url 'operator' 1 1 %}">Оператор</a>
    <a class="button" href="{% url 'form_orders' %}">Заказ  </a>
    <a class="button" href="{% url 'form_parts' %}"><b>Деталь</b> </a>
    <a class="button" href="{% url 'form_materials' %}">Материал  </a>
    <a class="button" href="{% url 'form_thickness' %}">Толщина  </a>
    <a class="button" href="{% url 'form_machine' %}">Станок  </a>
    <a class="button" href="{% url 'form_cutting_speed' %}">Скорость реза  </a>
    <a class="button" href="{% url 'form_mass_orders' %}">Заказы кучей  </a>
</div>