<div class="header">
    <div class="button"><a href="{% url 'home' %}">В работе</a></div>
    <div class="button"><a href="{% url 'operator' 1 1 %}">Оператор</a></div>
    <div class="button"><a href="{% url 'ready' %}">готовые</a></div>
    <div class="button"><a href="{% url 'form_orders' %}">Заказ  </a></div>
    <div class="button"><a href="{% url 'form_parts' %}">Деталь  </a></div>
    <div class="button"><a href="{% url 'form_materials' %}">Материал  </a></div>
    <div class="button"><a href="{% url 'form_thickness' %}">Толщина  </a></div>
    <div class="button"><a href="{% url 'form_machine' %}">Станок  </a></div>
    <div class="button"><a href="{% url 'form_cutting_speed' %}">Скорость реза  </a></div>
</div>