{% extends 'orders/base.html' %}
{% load static %}
{% load orders_tags %}

{% block content %}
{% show_header2 %}
<div class="">
    <table class="">

<!--        Шапка таблицы со скролингом-->
        <tr>
            <th class="">Заказ</th>
            <th class="">Деталь</th>
            <th class="">есть/надо</th>
            <th class="">Выдать заказчику</th>
        </tr>

<!--        Формирование таблицы-->
        {% for f in object_list %}
        <tr>
            <td>   |  {{ f }}</td>
            <td>   |  {{ f.part }}</td>
            <td>   |  {{ f.get_ready_qty }}/{{ f.need_qty }}</td>
            <td>   |  {{ f.date_for_ready }} </td>
        </tr>
        {% endfor %}
    </table>

</div>
{% endblock %}
