{% extends 'orders/base.html' %}
{% load static %}
{% load orders_tags %}

{% block content %}
{% show_header2 %}
<div class="">
    <table class="">

<!--        Шапка таблицы со скролингом-->
        <tr>
            <th class="">Заказ</th>
            <th class="">Деталь</th>
            <th class="">Материал</th>
            <th class="">Толщина</th>
            <th class="">есть/надо</th>
            <th class="">Выдать заказчику</th>
        </tr>

<!--        Формирование таблицы-->
        {% for f in object_list %}
        <tr>
            <td>   |  {{ f }}</td>
            <td class="hov"   onclick="window.open( '{% static f.get_file_name %}', 'Test', 'width=1024', 'height=800, top=100 left=300')">   |  {{ f.part }}</td>
            <td>   |  {{ f.get_material }} </td>
            <td>   |  {{ f.get_thickness }} </td>
            <td>   |  {{ f.get_ready_qty }}/{{ f.need_qty }}</td>
            <td>   |  {{ f.date_for_ready }} </td>
        </tr>
        {% endfor %}
    </table>

</div>
{% endblock %}
