{% extends 'orders/base.html' %}
{% load static %}
{% load orders_tags %}

{% block content %}
{% show_header2 %}
<div class="container">
    <table class="tableMove">

<!--        Шапка таблицы со скролингом-->
        <tr>
            <th class="">Заказ</th>
            <th class="">Деталь</th>
            <th class="">есть/надо</th>
            <th class="">Выдать заказчику</th>
        </tr>

<!--        Формирование таблицы-->
        {% for f in object_list %}
        <tr>
            <td>   |  {{ f }}</td>
            <td>   |  {{ f.part }}</td>
            <td>   |  {{ pars }}/{{ f.need_qty }}</td>
            <td>   |  {{ f.date_for_ready }} <a href="{% url 'test_order' f.id %}">ред</a></td>
            <td>
                <form action="{% url 'delete' f.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">готово</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

</div>
{% endblock %}
