    <div class="left">
        <div class="tableMove">
    <!--        Шапка таблицы со скролингом-->
            <div class="row head-row">
                <div class="header-colon col_two">Заказ</div>
                <div class="header-colon col_three">Деталь</div>
                <div class="header-colon col_two">есть/надо</div>
                <div class="header-colon col_two">Мат</div>
                <div class="header-colon col_one">Тол</div>
            </div>

    <!--        Формирование таблицы-->
            {% for f in ords %}
                {% if f.id == sel %}
                    <div class="row row-color action_row">
                        <div class="colon col_two">{{ f }}</div>
                        <div class="colon col_three">{{ f.part }}</div>
                        <div class="colon col_two
                            {% if f.get_part_otk or f.otk %}
                                {% if f.get_ready_qty != '0' %}
                                    otk_row_wait
                                {% elif f.get_part_otk %}
                                    otk_row_fai
                                {% endif %}
                            {% endif %}">
                            {{ f.get_ready_qty }}
                            /{{ f.need_qty }}
                        </div>
                        <div class="colon col_two">{{ f.get_material }}</div>
                        <div class="colon col_one">{{ f.get_thickness }}</div>
                    </div>
                    {% else %}
                    <div class="row-color">
                        <a href="{% url 'operator' f.machine_id f.id %}" class="row">
                            <div class="colon col_two">{{ f }}</div>
                            <div class="colon col_three">{{ f.part }}</div>
                            <div class="colon col_two
                            {% if f.get_part_otk or f.otk %}
                                {% if f.get_ready_qty != '0' %}
                                    otk_row_wait
                                {% elif f.get_part_otk %}
                                    otk_row_fai
                                {% endif %}
                            {% endif %}">
                                {{ f.get_ready_qty }}
                                /{{ f.need_qty }}
                            </div>
                            <div class="colon col_two">{{ f.get_material }}</div>
                            <div class="colon col_one">{{ f.get_thickness }}</div>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
