    <div class="left">
        <table class="tableMove">
    <!--        Шапка таблицы со скролингом-->
            <tr class="trr">
                <th class="">Заказ</th>
                <th class="">Деталь</th>
                <th class="">есть/надо</th>
                <th class="">Выдать заказчику</th>
            </tr>

    <!--        Формирование таблицы-->
            {% for f in ords %}
                {% if f.id == sel %}
                    <tr class="trg">
                        <td>   |  {{ f }}</td>
                        <td>   |  {{ f.id }}</td>
                        <td>   |  {{ f.ready_qty }}/{{ f.need_qty }}</td>
                        <td>   |  {{ f.date_for_ready }}</td>
                 {% else %}
                    <tr class="trr">
                        <td>   |  {{ f }}</td>
                        <td>   |  {{ f.id }}</td>
                        <td>   |  {{ f.ready_qty }}/{{ f.need_qty }}</td>
                        <td>   |  {{ f.date_for_ready }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>