{% extends 'orders/base.html' %}
{% load static %}
{% load orders_tags %}

{% block content %}

    <!--        Левый сайдбар -->
    {% get_orders machine=cont.machine_id sel=cont.id %}

    <!--        выпадающий список станков  -->
    {% change_machine machinepk %}

<div class="container">

    <!--     Контент справа -->
    <div class="right">
        <div class="prop_container">
            <div class="prop">{{ cont.id }}</div>
            <div class="prop">{{ cont.machine }}</div>
            <div class="prop">Название детали: </br> {{ cont.part }}</div>
            <div class="prop">Файл станка: <button id="copyText">Копировать</button> </br> <input id="inputText" type="text" value="{{ cont.get_machine_file_name }}"></div>
            <div class="prop">Требуемое количество материала: </br> {{ cont.get_required_material }}</div>     <!-- TODO кнопка копирования -->
            <div class="prop">Вырезано:
                {% for trt in cont.readyorders_set.all %}
                    </br>{{ trt }}шт дата: {{ trt.date_time_ready }}
                {% endfor %}
            </div>
            <div class="prop">
                <form  action="{% url 'date_ready' cont.pk %}" method="post">
                    {% csrf_token %}
                    <input type="text" value="0" name="qty">
                    <button type="submit">Добавить</button>
                </form>
            </div>
            <div class="prop"><lable>ОТК</lable> <!-- ОТК должен отображаться как не редактируемый чекбокс или с вариантами-->
            <input type="radio"  accept="{{ cont.otk }}"></div>
            <div class="prop">Дата выдачи заказчику:</br>{{ cont.date_for_ready }}</div>
            <div class="prop">Примечание заказа:</br>{{ cont.note }}</div>
            <div class="prop">Примечание детали:</br>{{ cont.get_part_note }}</div>
        </div>
            <!--====== чертеж ====== -->
        <div class="image_container">
            <iframe src="{% static cont.get_file_name %}" style="width: 100%;height: 98vh;border: none;"></iframe>
        </div>
    </div>

</div>
{% endblock %}