/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* ============НАЧАЛО================ */

body{
    font-family: arial;
    font-size: 14px;
    background-color: gray;
}
/*
div {
    border: 1px solid black;
}
*/
a {
    color: #444;
    text-decoration: none;
}

.header{
    position: relative;
    background-color: #111;
    color: #999;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
}

.container {
    display: flex;
    background-color: #888888;
    height: 100vh;
    margin-left: 440px;
}

/* ============ Левый сайдбар ================ */

.left {
    background: gray;
    position: absolute;
    width: 440px;
    top: 100px;
    left: 0;
}

.tableMove{
    background-color: #909090;
}

.machine_change_block {
    overflow: hidden;
    background: red;
    position: fixed;
    width: auto;
    height: 50px;
    top: 0;
    z-index: 10;
}

.machine_change_block2 {
    margin-top: 50px;
    display: block;
}

.machine_change_block:hover {
    overflow: visible;
}

.change_machine {
    font-size: 18px;
    padding: 10px;
    background: green;
    display: block;
    width: 150px;
    height: 50px;
}

.sel {
    position: absolute;
    top: 0;
    background: #989898;
    z-index: 20;
}

.row{
    display: block;
    height: auto;
    width: 100%;
}

.row-color:nth-child(odd) {
    background-color: #999999;
}

.head-row {
    background-color: #777;
    position: fixed;
    height: 100px;
    width: 440px;
    padding-top: 50px;
    top: 0;
    z-index: 9;
}

.colon {
    display: inline-block;
    height: 100%;
    padding: 5px;
}

.header-colon {
    display: inline-block;
    bottom: 0;
    height: 20px;
}

.col_one{
    width: 28px;
}

.col_two{
    width: 58px;
}

.col_three{
    width: 208px;
}

.row-color.action_row {
    background-color: green;
}



.row-color:hover {
    background-color: #4e945a;
}

/* ============ Основной контент ================ */

.right {
    position: fixed;
    flex: 1 0;
    height: auto;
    display: flex;
    left: 440px;
    right:0;
    top:0;
    bottom:0;
}

.prop_container {
    background: green;
    flex: 0 0 300px; /* ширина контейнера характеристик */
    display: inline-block;
}

.prop{
    padding: 5px;
    margin-top: 10px;
    background: gray;
}

.image_container {
    background-color: white;
    flex: 1 0;
    display: inline-block;
    min-width: 400px;
}

.prop {
    margin-left: 10px;
}

.button {
    height: 40px;
    display: block;
    margin: 4px;
    padding: 4px;
    background-color: #999;
}

.hov:hover {
    color: red;
}

.otk_row {
    background-color: orange;
}

.otk_row_wait {
    background-color: #b5ab4b; /* желтый */
}

.otk_row_fai {
    background-color: #d26c6c; /* красный */
}
